<%- include('header') -%>
<form action="/addSkill" method="post">
    <input name="skill" placeholder="Input The Skill" type="text">
    <input name="progress" placeholder="Confidence percentage" type="range">
    <button type="submit">Submit</button>
    </form>
<%- include('footer') -%>